<%= link_to "#{current_user.id}/posts/new", id: 'new_post' do %>
  new post
<% end %>
<%= link_to '/', id: 'header' do %>
  <h1>acebook</h1>
<% end %>
<%= render 'list_posts', :locals => {:posts => @posts} %>
